<div id="assistant-simplified">
	<h1>Suivez ces étapes et devenez l'as de la prise de RDV !</h1>
<div ng-include src="'test.html'"></div>
	<div ng-controller="AssistantCtrl">
	      
        <accordion>
       		<accordion-group ng-repeat="group in groups">
	       		<accordion-heading>
					<span class="step-number">{{$index + 1}}.</span> </span>{{group.title}} <span class="value-preview"> {{group.preview}} </span><i class="pull-right glyphicon glyphicon-ok"></i>
				</accordion-heading>
				
		    </accordion-group>
        </accordion>
        
      </div>
</div>